<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="panel-title"style="font-size: 20px; font-weight: bold; margin-bottom: 10px;">Contacts</h3>
      </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <div class="col-xs-8" style="padding-left: 0;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a search value" #searchBox (keyup)="search(searchBox.value)">
            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
        </div>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group"
      cdkDropList
      id="contactsList"
      [cdkDropListData]="contacts"
      [cdkDropListConnectedTo]="['groupList']"
      [cdkDropListSortingDisabled]="true"
      [cdkDropListEnterPredicate]="alwaysFalse">
      <cms-contact-item
        *ngFor="let contactEl of contacts | contactsFilter: term"
        [contact]="contactEl"
        ></cms-contact-item>
    </div>
  </div>
</div>
