<div class="panel panel-default">
  <div class="panel-body">
    <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" formControlName="name" class="form-control">

          <div *ngIf="deviceForm.get('name')?.invalid && deviceForm.get('name')?.touched" class="text-danger">
            Please enter a device name.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="status">Status:</label>
          <select id="status" formControlName="status" class="form-select">
            <option value="" disabled>-- Select the device status --</option>
            <option *ngFor="let stat of statusValues | keyvalue" [value]="stat.value">
              {{ stat.value }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="lastMaintained">Last Serviced:</label>
          <input type="text" id="lastMaintained" formControlName="lastMaintained" class="form-control"
            placeholder="yyyy-mm-dd">

          <div *ngIf="deviceForm.get('lastMaintained')?.invalid && deviceForm.get('lastMaintained')?.touched"
            class="text-danger">
            Please enter the date in yyyy-mm-dd format.
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 btn-toolbar">
          <button [disabled]="deviceForm.invalid" class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-primary" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
