<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="panel-title" style="font-size: 20px; font-weight: bold; margin-bottom: 10px;">Technicians</h3>
      </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0;">
      <div class="col-xs-8" style="padding-left: 0;">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter a search value" #searchBox
            (keyup)="search(searchBox.value)">
          <div class="input-group-addon" (click)="search(searchBox.value)"><i class="bi bi-search"></i></div>
        </div>
      </div>
      <div class="col-xs-4 text-right">
        <a class="btn btn-success" [routerLink]="['new']">New Technician</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="list-group">
      <hds-technician-item *ngFor="let tech of technicians | techsFilter: term" [technician]="tech"></hds-technician-item>
    </div>
  </div>
</div>

